<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roadsense.mapper.FeedbackMapper">

    <resultMap id="BaseResultMap" type="com.roadsense.pojo.Feedback">
            <id property="fbackId" column="fback_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="fbackImg" column="fback_img" jdbcType="VARCHAR"/>
            <result property="fbackTime" column="fback_time" jdbcType="TIMESTAMP"/>
            <result property="verifyState" column="verify_state" jdbcType="VARCHAR"/>
            <result property="pitId" column="pit_id" jdbcType="BIGINT"/>
            <result property="desInfo" column="des_info" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        fback_id,user_id,fback_img,
        fback_time,verify_state,pit_id,
        des_info
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_feedback
        where  fback_id = #{fbackId,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_feedback
        where  fback_id = #{fbackId,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="fback_id" keyProperty="fbackId" parameterType="com.roadsense.pojo.Feedback" useGeneratedKeys="true">
        insert into t_feedback
        ( fback_id,user_id,fback_img
        ,fback_time,verify_state,pit_id
        ,des_info)
        values (#{fbackId,jdbcType=BIGINT},#{userId,jdbcType=BIGINT},#{fbackImg,jdbcType=VARCHAR}
        ,#{fbackTime,jdbcType=TIMESTAMP},#{verifyState,jdbcType=VARCHAR},#{pitId,jdbcType=BIGINT}
        ,#{desInfo,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="fback_id" keyProperty="fbackId" parameterType="com.roadsense.pojo.Feedback" useGeneratedKeys="true">
        insert into t_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="fbackId != null">fback_id,</if>
                <if test="userId != null">user_id,</if>
                <if test="fbackImg != null">fback_img,</if>
                <if test="fbackTime != null">fback_time,</if>
                <if test="verifyState != null">verify_state,</if>
                <if test="pitId != null">pit_id,</if>
                <if test="desInfo != null">des_info,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="fbackId != null">#{fbackId,jdbcType=BIGINT},</if>
                <if test="userId != null">#{userId,jdbcType=BIGINT},</if>
                <if test="fbackImg != null">#{fbackImg,jdbcType=VARCHAR},</if>
                <if test="fbackTime != null">#{fbackTime,jdbcType=TIMESTAMP},</if>
                <if test="verifyState != null">#{verifyState,jdbcType=VARCHAR},</if>
                <if test="pitId != null">#{pitId,jdbcType=BIGINT},</if>
                <if test="desInfo != null">#{desInfo,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.roadsense.pojo.Feedback">
        update t_feedback
        <set>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=BIGINT},
                </if>
                <if test="fbackImg != null">
                    fback_img = #{fbackImg,jdbcType=VARCHAR},
                </if>
                <if test="fbackTime != null">
                    fback_time = #{fbackTime,jdbcType=TIMESTAMP},
                </if>
                <if test="verifyState != null">
                    verify_state = #{verifyState,jdbcType=VARCHAR},
                </if>
                <if test="pitId != null">
                    pit_id = #{pitId,jdbcType=BIGINT},
                </if>
                <if test="desInfo != null">
                    des_info = #{desInfo,jdbcType=VARCHAR},
                </if>
        </set>
        where   fback_id = #{fbackId,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.roadsense.pojo.Feedback">
        update t_feedback
        set 
            user_id =  #{userId,jdbcType=BIGINT},
            fback_img =  #{fbackImg,jdbcType=VARCHAR},
            fback_time =  #{fbackTime,jdbcType=TIMESTAMP},
            verify_state =  #{verifyState,jdbcType=VARCHAR},
            pit_id =  #{pitId,jdbcType=BIGINT},
            des_info =  #{desInfo,jdbcType=VARCHAR}
        where   fback_id = #{fbackId,jdbcType=BIGINT} 
    </update>
</mapper>
